[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
faster-whisper = "*"
sentencepiece = "*"
torch = "*"
sacremoses = "*"
pyqt6 = "*"

[dev-packages]

[requires]
python_version = "3.11"
